
html, body {
    height: 100%;
}

.colors {
    display: flex;
    height: 100%;
}

.blue {
    background-color: darkblue;
    flex:1;
}

.yellow {
    background-color: darkblue;
    flex:1;
}

.maroon {
    background-color: darkblue;
    flex:1;
}